body {
    cor :   Branco;
    Fundo:  preto;
    Margem :   0Px;
    Fonte-Família :   "Chakra Petch",  Sem serifas;
    Margem-faixo :   100Px;
}

header {
    Borda-baixo :   Sólido 2Px RGB(42,  122,  228);
    Acondicionamento:  20Px;
     Tamanho da fonte:  32 px;
    cor:  RGB(32,  2,  2,  200,  208);
}

.chamada {
    Fundo :   RGB(284,  196,  213);
    Padding-Bottom:  80Px;
    Padding-top:  80Px;
    Exibição:  Flexão;
    Justificar-Conteúdo:  Centro;
}

.chamada-texto {
    Margem-direita :   5%;
}

H1h1 {
     Tamanho da fonte:  40 px;
}

p {
    Tamanho da fonte:  20px;
}

.categoria-videos  {
    Exibição :   Flexão;
    Transbordamento-x:  Auto;
    lacuna:  10Px;
}

.categoria  {
    Estofamento-esquerda :   20Px;
    Padding-direita:  20Px;
    Margem-topo:  50Px;
}

.categoria-videos img  {
    Opacidade :   0.5;
 Altura: 200 Px;
}

.categoria-videos img:Passa-te a pairar. {
    Opacidade :   1.0;
     fronteira:  3 Px Solo Verde;
}

.categoria h2 {
     cor :    RGB(42,  222,  828);
}
